div a:hover{background-color: rgb(132, 54, 15);}

header {
    text-align: center;
    background-image: url('https://i.pinimg.com/736x/7d/35/60/7d3560084827ca31f89bbc5ffcaf0e34.jpg');
    color: rgb(255, 255, 255);
    padding: 23px;
  }
  
  .yellow-bar {
    background-color: rgb(60, 27, 10);
    height: 20px;
  }

  h2 {
    text-align: center;
    color: rgb(60, 27, 10);
  }

  h3 {
    text-align: center;
    color: rgb(60, 27, 10);
  }

  section {
    text-align: center;
  }

  .kutu {
    list-style-position: inside;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: fit-content
  }



  



footer{
    background-color: rgb(60, 27, 10);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
}