div a:hover{background-color: rgb(255, 151, 47);}

.header {
    text-align: center;
    background-image: url('https://i.pinimg.com/736x/9e/f8/43/9ef843bf7a315c17c90066efae567bb4.jpg');
    color: rgb(0, 0, 0);
    padding: 60px;
  }

  .orange-bar {
    background-color: rgb(255, 151, 47);
    height: 20px;
  }

.container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.butonlar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.js { background-color: rgb(0, 0, 0); }
.vue { background-color: rgb(0, 0, 0); }
.gonder { background-color: rgb(0, 0, 0); }
.temizle { background-color: rgb(0, 0, 0); }

.uyari-kutusu {
  background-color: rgb(255, 237, 218);
  color: rgb(255, 138, 21);
  padding: 10px;
  border: 1px solid rgb(255, 139, 23);
  border-radius: 5px;
  margin-bottom: 10px;
}