div a:hover{background-color: rgb(54, 104, 214)}

.header {
    text-align: center;
    background-image: url('https://i.pinimg.com/736x/59/d7/c6/59d7c6a0db65745e3e32900c7e2fa492.jpg');
    color: rgb(0, 0, 0);
    padding: 35px;
  }

  .blue-bar {
    background-color: rgb(64, 119, 238);
    height: 20px;
  }

  .main-section {
    padding-bottom: 20px;
  }

  .title-center {
    text-align: center;
  }

  .yazi {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .galeri {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .galeri img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .footer {
    text-align: center;
    padding: 10px;
  }